<!DOCTYPE html>
<html lang = "en">
  <head>
  <meta charset = "utf-8">
    <title>Kairos</title>
    <link href='http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="styleshow.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body>
    <div id="dot-matrix"></div>
    <img id = "img" src = "images/sky.png">
    <video autoplay loop poster='assets/images/vinyl_record.png' id='bgvid'>
    </video>
    <div id = "container">
      <h3>What's your name?</h3>
      <div id = "input_div">
      <!--<form action="/create" method="POST">-->
        <input type="text" id = "name" autocomplete = "off">
      <!--</form>-->
      </div>
    <div id = "button_container">
      <button id = "button_one" class = "button" style="visibility:hidden"></button>
      <button id = "button_two" class = "button" style="visibility:hidden"></button>
    </div>
    <div id = "points" style = "display:none"></div>
    </div>
  <script>
  var first = document.getElementById("name");
  var input_div = document.getElementById("input_div");
  var h3 = document.querySelector("h3");
  var body = document.querySelector("body");

  first.addEventListener("keydown", function(e){
    if (e.keyCode === 13){
      var user_name = first.value;
      input_div.removeChild(first);
      h3.innerHTML = "Hello, " + user_name + ". Please enter your email.";
      var email = document.createElement("email");
      input_div.appendChild(email);
      email.innerHTML = "<input type='text' id = 'email' name='email' autocomplete = 'off'>";
      email.id = "second";
      second.addEventListener("keydown", function(e){
        if (e.keyCode === 13){
          var user_email = email.value;
          input_div.removeChild(email);
          h3.innerHTML = "Some music lovers say vinyl is coming back. Do you agree?"
          var yes = document.getElementById("button_one");
          var no = document.getElementById("button_two");
          yes.style.visibility = "visible";
          no.style.visibility = "visible";
          yes.innerText = "Yes";
          no.innerText = "No";
          var video = document.getElementById("bgvid");
          video.src = "images/dj-vinyl.mp4";
          video.type = "video/mp4";
          video.defaultMuted = "true";

          var first_click = function(){
            var points = document.getElementById("points");
            points.innerText = "+5"
            setTimeout(function(){
              img.src="images/watch.png";
              setTimeout(function(){
                body.removeChild(video)}, 50);
              h3.innerHTML = "Is the Apple Watch a status symbol or a tech device?";
              yes.innerHTML = "Status";
              no.innerHTML = "Tech";
            }, 3500);
          }

          var second_click = function(){
            points.innerText = "+10";
            setTimeout(function(){
              img.src = "images/polit.png";
              h3.innerText = "TheRepublican Primary is underway. Will you be voting in a Republican Primary?";
              yes.innerHTML = "Yes";
              no.innerHTML = "No";
            }, 3500);
          }

          var third_click = function(){
            points.innerText = "+15";
            setTimeout(function(){
              img.src = "images/polit.png";
              yes.style = "display:none";
              no.style = "display:none";
            }, 3500);
          }


          yes.addEventListener("click", function(){
            first_click();
            yes.addEventListener("click", function(){
              second_click();
              yes.addEventListener("click", function(){
                third_click();
              });
              no.addEventListener("click", function(){
                third_click();
              })
            })
            no.addEventListener("click", function(){
              second_click();
              yes.addEventListener("click", function(){
                third_click();
              });
              no.addEventListener("click", function(){
                third_click();
              })
            })
          });

          no.addEventListener("click", function(){
            first_click();
            no.addEventListener("click", function(){
              second_click();
              yes.addEventListener("click", function(){
                third.click();
              });
              no.addEventListener("click", function(){
                third.click();
              })
            })
            yes.addEventListener("click", function(){
              second_click();
              yes.addEventListener("click", function(){
                third.click();
              });
              no.addEventListener("click", function(){
                third.click();
              })
            })
          });

        }
      })
    }
  })

  $(document).ready(function(){
	   $(".button").click(function() {
		     $("#points").fadeIn(1500, function(){
           setTimeout(function(){
             $("#points").fadeOut(1000);
           }, 2000);
         });
	     });
    });


</script>
</body>
</html>
