<!DOCTYPE html>
<html lang = "en">
  <head>
  <meta charset = "utf-8">
    <title>Kairos</title>
    <link href='http://fonts.googleapis.com/css?family=Arimo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="styleshow.css">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  </head>
  <body>
    <div id="dot-matrix"></div>
    <img id = "img" src = "sky.png">
    <div id = "container">
      <h3>What's your name?</h3>
      <h2></h2>
      <form action="/create" method="POST">
        <input type="text" id = "name" name="name" autocomplete = "off">
      </form>
      <div id = "greeting">
      </div>
    </div>
  <script>
  var url = "http://10.11.8.233:3001/"
    var xhr = new XMLHttpRequest();
    xhr.open("GET", url);
    xhr.addEventListener('load', function(e) {
      var d = xhr.responseText;
      var parsed = JSON.parse(d);
      var name =
    });
    xhr.send();
</script>
</body>
</html>
