body{
  font-family: 'Arimo', Arial, serif; font-weight: 700;
}

img{
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -3;
}

#dot-matrix {
  margin-left: -5px;
  background: url(http://s14.directupload.net/images/111129/44ga9qid.png);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1;
}

h3{
  margin-top: 200px;
  color: white;
  text-align: center;
  font-size: 60px;
  letter-spacing: 0;
  position: relative;
}

input{
  position: relative;
  margin-top: -200px;
  margin-left: 480px;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  line-height: 45px;
  color: white;
  width: 460px;
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: solid 10px white;
}

input:focus {
  outline: 0;
  border-bottom: solid 10px white;
}


#button_container{
  text-align: center;
}

button{
  background-color: white;
  opacity: 0.8;
  height: 85px;
  width: 130px;
  border: 1px solid white;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: .1em;
  margin: 0px 20px;
}

button:hover{
  opacity: 1;
}

button:focus{
  outline: none;
}

#bgvid{
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -2;
  /*background: url('assets/images/vinyl_record.png') no-repeat;
  background-size: cover;*/
}

#points{
  float: right;
  margin-right: 100px;
  color: white;
  font-size: 150px;
}
